@font-face {
  font-family: oldNewspaper;
  src: url('../OldNewspaperTypes.ttf');
  /* src: url('../Brusher.ttf')*/
}

body {
  font-family: oldNewspaper;
  background-color: rgb(13, 12, 25);
  margin: 0;
  padding: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

p {
  color: white;
}

.nav {
  display: flex;
  flex-direction: rows;
  gap: 10px;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.nav a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

h1, h2 {
  color: white;
  padding: 10px;
  border: solid 1px white;
  border-radius: 5px;
  width: max-content;
  text-align: center;
  margin: auto;
}

.start-container, .planets-container, .text, .overview-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.start-container a {
  text-decoration: none;
  color: rgb(47, 45, 70);
}

.start-container .text {
  width: 200px;
  text-align: center;
}

.start-container button {
  width: 180px;
  height: 40px;
}

.planets-container img {
  width: 100px;
}

#moon {
  position: relative;
  width: 100px; /* adjust the size of the circle */
  height: 100px;
  border-radius: 50%; /* create a circular shape */
  background: linear-gradient(to right, white 50%, rgb(47, 45, 70) 50%);
  margin: auto;
}
#cover {
  width: 100px; /* adjust the size of the circle */
  height: 100px;
  background-color: rgb(47, 45, 70);
  border-radius: 50%; /* create a circular shape */
  position: absolute;
}

#cover-right {
  width: 100px; /* adjust the size of the circle */
  height: 100px;
  background-color: white;
  border-radius: 50%; /* create a circular shape */
  position: absolute;
}

#circle-wrap {
  width: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.moon-container-growing {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 50px;
  transform: rotateY(180deg);
}
.moon-container-decreasing {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 50px;
}

#the-moon {
  text-align: center;
  color: white;
  height: 500px;
}

button {
  font-family: oldNewspaper;
}

.space-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  margin-top: 30px;
  text-align: center;
  color: white;
}

.space-image img, .sun-image img {
  width: 300px;
  border-radius: 5px;
}

#default-img {
  width: 300px;
  border-radius: 5px;
}

#image-explanation {
  width: 500px;
}

.Header {
  text-align: center;
  color: white
}

.links a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border: solid 1px white;
  margin: 10px;
}

.aurora {
  margin: 20px;
}

.aurora img {
  width: 300px;
}

.leaflet-container {
  width: 300px;
  height: 400px;
}

.map-container, .map-footer, .sun-container, #sun {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  margin: 20px;
}

.map {
  border-radius: 5px;
}

#map-button {
  margin: 10px;
}



